<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title>#{msgs.title}</title>
        <h:outputStylesheet library="css" name="styles.css" />
    </h:head>
    <h:body>
        <h:form>
            <h1>#{msgs.prompt}</h1>
            <table>
                <tr>
                    <td>#{msgs.name}</td>
                    <td><h:inputText value="#{user.name}" id="name"/></td>
                </tr>
                <tr>
                    <td>#{msgs.password}</td>
                    <td><h:inputSecret value="#{user.password}" id="password"/></td>
                </tr>
            </table>
            <p><h:commandButton value="#{msgs.login}">
                    <f:ajax execute="name password" render="out"/>
                </h:commandButton></p>
            <h3><h:outputText id="out" value="#{user.greeting}"/></h3>
        </h:form>
    </h:body>
</html>